certifi==2017.7.27.1
chardet==3.0.4
ChatterBot==0.7.6
chatterbot-corpus==1.0.1
future==0.16.0
idna==2.6
jsondatabase==0.1.7
nltk==3.2.5
oauthlib==2.0.4
pymongo==3.5.1
python-dateutil==2.6.1
python-twitter==3.3
requests==2.18.4
requests-oauthlib==0.8.0
ruamel.yaml==0.15.0
six==1.11.0
SQLAlchemy==1.1.14
urllib3==1.22
